.MainPath {
    padding: 16px;
    background-color: #f7f7f7;
    margin-bottom: 30px;
}
.blog .blog-item .entry-meta {
    border-radius: 0 !important;
    overflow: hidden;
}
.TaxonName, .mainTitle {
    margin-top: 0 !important;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #d1d1d1;
    padding-bottom: 20px;
}
.TaxonName .dropdown {
    font-size: 15px;
    margin-top: -10px;
}
.widget h3 {
    margin-top: 0 !important;
}
.widget.categories h3 small {
    margin-top: 5px;
    font-size: 14px;
    text-transform: none;
}
.graybg {
    background-color: #ebebeb;
}
#publish_date {
    text-align: left !important;
    padding-left: 10px;
    font-weight: bold;
    border-bottom: none !important;
    background: rgba(0,0,0,.6);
    border-color: #b7cc2b;
    border-bottom-color: rgb(183, 204, 43);
    border-width: 1px;
    border-bottom-width: 2px;
    font-size: 16px;
    padding: 10px 15px;
}
.ImgMetaData {
    margin-top: -42px;
}
span.TaxonMentaData {
    color: #5D5D5D !important;
    font-size: 14px !important;
}
span.TaxonMentaData a {
    color: #c52d2f !important;
}
.form-group .form-control {
    border-color: #e8e8e8 !important;
}
.btn-primary {
    margin-top: 0 !important;
}
