.container
  .row
    - breadcrumb_tree = abbreviated_breadcrumbs(@page.nodes.first)
    - if breadcrumb_tree.empty?
      = t(:unresolved_name)
    - else
      - breadcrumb_tree.each_with_index do |ancestor, index|
        - if ancestor.instance_of? Node
          - if ancestor.pages.empty?
            = ancestor.scientific_name
          - else
            %a{ href: main_app.page_path(ancestor.pages.first.id)}
              = ancestor.scientific_name
        - else
          = ancestor
        - if index != (breadcrumb_tree.size - 1)
          »
