.row
  .col-md-12
-nodes = @page.nodes.to_a.sort_by{|n| n.resource_id}
#test.tree
  %ul
    %li.parent_li
      -nodes.each do |page_node|
        -tree = classification(page_node)
        -resource_info = get_resource_info(page_node.resource_id)
        - if !resource_info.nil?
          %h3.Special
            = resource_info.name
        -else
          %h3.Special Unknown Resource 
        - x = 0  
        -tree.each do |node|
          - x = x + 10
          %div{ style: "padding-left: #{x}px;"}
            %span{:title => "Verkleinern"} 
              %a{:href => "#{page_path(node.pages.first.id)}"}
                =node.canonical_form
          %ul