%h3.ui.header= "Classification"
-page_node = @page.node || @page.nodes.first
-ancestory = classification(page_node)
-tree = []
-ancestory.each do |node_ancestor|
  -tree.push(node_ancestor.ancestor)
-tree.push(page_node)
-tree.each do |node|
  %div
    %h2=link_to node.canonical_form, page_path(node.pages.first.id)
 

