.row
  .col-md-12
-nodes = @page.nodes.to_a.sort_by{|n| n.resource_id}
#test.tree
  -nodes.each do |page_node|
    -tree = classification(page_node)
    -resource_info = get_resource_info(page_node.resource_id)
    - if !resource_info.nil?
      %span
        = resource_info.name
    -else
      %span Unknown Resource 
    - x = 0  
    -tree.each do |node|
      %ul.treeNode{ style: "padding-left: #{x}px;"}
        %li.parent_li
          %ul
            - x = x + 40
            %li.parent_li
              -unless node.pages.empty?
                %a{href:  "/pages/#{node.pages.first.id}"} 
                  =node.scientific_name
              -else
                =node.scientific_name 
          %ul
    %br