- @page.referents.each do |ref|
  %li
    = ref.body.html_safe
    %br
      - references = ref.references.map do |reference|
        - case reference.parent_type
          - when "Article"
            - content_partner_id = PagesController.get_reference_content_partner(reference)
            - result = ResourceApi.get_resource(content_partner_id["id"], reference.parent.resource_id)
            - resource = PagesController.get_reference_resource(result)
            - t(:reference_compiled_from_article, source: link_to(resource.name,
            content_partner_resource_path(content_partner_id["id"], result["id"])), name: reference.parent.name)

          - when "Medium"
            - link_to(reference.parent.name.html_safe?, reference.parent)

          - when "Node"
            - content_partner_id = PagesController.get_reference_content_partner(reference)
            - result = ResourceApi.get_resource(content_partner_id["id"], reference.parent.resource_id)
            - resource = PagesController.get_reference_resource(result)
            - link_to(@resource.name , content_partner_resource_path(content_partner_id["id"], result["id"]))
    = t(:reference_compiled_from , links: references.to_sentence).html_safe
