.row
  .col-md-12
    .Description
    %p.alert-secondary{:role => "alert"}
      %i.fa.fa-info-circle{"aria-hidden" => "true"}>
      Scientists aim to describe a single 'tree of life' that reflects the evolutionary relationships of living things. 
      However, evolutionary relationships are a matter of ongoing discovery, and there are different opinions about how living 
      things should be grouped and named. EOL reflects these differences by supporting several different scientific 'classifications'.
      Some species have been named more than once. Such duplicates are listed under synonyms.
      EOL also provides support for common names which may vary across regions as well as languages.
    %br/
.row
  .col-md-12  
    - @scientific_names.group_by {|n| n.taxonomic_status.name }.each do |status, names|
      %h3.Special 
        = status
        %table.customTable
          %thead
            %tr
              %th{:scope => "col"} Name
              %th{:scope => "col"} Sources
          %tbody
            -scientific_names_resources = get_resources(names)
            -scientific_names_resources.each do |name, resource|
              %tr
                %td{"data-label" => "Name"} 
                  = name
                %td{"data-label" => "Sources"} 
                  -if !scientific_names_resources[name].nil?
                    - scientific_names_resources[name].each do |resource|
                      - if !resource.nil?
                        = resource.name 
                      - else
                        = "Unknown Resource "