= render("tabs")
.container
  .row
    .col-lg-12
      %h2.mainTitle
        Articles
    -@articles.each do |article|
      -#TODO toc(table of content)
      .col-lg-12.articleBlock
        %h2
          -name = article.name
          - name ||= t("untitled")
          %a{:href => "#"} #{name}
        %p
          %iframe{ :srcdoc => article.body.html_safe , :width => "100%",:height => "100%"}
          = succeed "." do
            %a{:href => article_path(id: article.id)} Continue reading...
        %hr/
    = will_paginate @articles