.container
  %h2.mainTitle
    %span{ style: "padding-bottom: 10px; display: inline-block"}
      #{t(:articles)}
    .pull-right
      = render("tabs")
    .clearfix
  = render_async articles_tab_path( page_id: @page.id, page: params[:page])