= render("tabs")
- cache(page_data_path(@page), expires_in: 1.day) do
  - build_associations(@page) 
  %ul.traits
    - @page.predicates.each_with_index do |uri, index|
      - predicate = @page.glossary[uri]
      - if predicate.nil?
        - Rails.logger.error("** ERROR: missing predicate #{uri}")
        - next
      - @page.grouped_data[uri].each do |trait|
        = render :partial => "terms/data_row", :locals => { :page => @page, :trait => trait, :show_taxon => false }