.container
  .row
    .col-lg-12
      %h2.mainTitle
        =t(:literature_and_references_header)
        = render("tabs")
    .col-lg-12
      %p.alert.alert-secondary{:role => "alert"}
        %i.fa.fa-info-circle{"aria-hidden" => "true"}
        #{t(:lit_alert)}
      %ul.mrgnTopBtm10
        = render_async literature_and_references_tab_path(:page_id => @page.id) do
          =image_tag "loading.gif", :alt => ""