= render("tabs")
.container
  .row
    .col-md-12.blog
      .row
        .col-lg-12
          %h2.TaxonName
            = @page.scientific_name

        .col-md-8
          .blog-item
            %img.img-responsive{:alt => "", :src => @page.media.first, :width => "100%"}/
            .row.ImgMetaData
              .col-xs-12
                .entry-meta
                  %span#publish_date
                    Taxon Name
                    %span.btn.btn-success.btn-xs Trusted
                  %span.TaxonMentaData Photographed at Finca Jorge Serrano, Costa Rica
                  %span.TaxonMentaData
                    %b Source:
                    %a{:href => "#"} EOL Response Team
              .col-xs-12.blog-content
                %br/
                %h5 Comprehensive Description
                %p Curabitur quis libero leo, pharetra mattis eros. Praesent consequat libero eget dolor convallis vel rhoncus magna scelerisque. Donec nisl ante, elementum eget posuere a, consectetur a metus. Proin a adipiscing sapien. Suspendisse vehicula porta lectus vel semper. Nullam sapien elit, lacinia eu tristique non.posuere at mi. Morbi at turpis id urna ullamcorper ullamcorper.
                %p Curabitur quis libero leo, pharetra mattis eros. Praesent consequat libero eget dolor convallis vel rhoncus magna scelerisque. Donec nisl ante, elementum eget posuere a, consectetur a metus. Proin a adipiscing sapien. Suspendisse vehicula porta lectus vel semper.
                .post-tags
                  %a{:href => "#"} Continue reading...
        .col-md-4
          %aside
            .widget.categories
              .well
                %h3 Classification
                %hr/
                %a{:href => "#"} Life
                \/
                %a{:href => "#"} Eukaryota
                \/
                %a{:href => "#"} Opisthokonta
                \/
                %a{:href => "#"} Metazoa
                \/
                %a{:href => "#"} Deuterostomia
                \/
                %a{:href => "#"} Vertebrata
                \/
                %a{:href => "#"} Tetrapoda
                \/
                %a{:href => "#"} Dinosauria
                \/
                %a{:href => "#"} Theropoda
                \/
                %a{:href => "#"} Aves
            .widget.categories
              %h3
                Selective Traits
                %small.pull-right
                  (
                  %a{:href => "#"}> 62
                  ) traits
              %table.table.table-striped
                %tr
                  %td.text-right
                    %b Trait 1
                  %td
                    %p Trait1 Description
                %tr
                  %td.text-right
                    %b Trait 2
                  %td
                    %p Trait2 Description
                %tr
                  %td.text-right
                    %b Trait 3
                  %td
                    %p Trait3 Description
                %tr
                  %td.text-right
                    %b Trait 4
                  %td
                    %p Trait4 Description
            .widget.categories
              %h3 Taxon Card
              .row
                .col-sm-12
                  .single_comments
                    %b Taxon Name
                    %a{:href => "#"}
                      %i.fa.fa-download{"aria-hidden" => "true"}
                    %img{:alt => "", :src => "../images/blog/avatar3.png"}/
                    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do

            .widget.blog_gallery
              %h3 Refresh your memory
              %ul.sidebar-gallery
                %li
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "../images/memory-game-icon.png"}/

