.container
  .col-lg-10.col-md-10.col-sm-10.col-xs-12
    .form-horizontal
      .form-group
        .form-group
          .col-lg-9.col-md-8.col-sm-7.col-xs-12
            .form-text
              = t(:page_internal_server_error)

.container
  %a{href: main_app.root_path} #{t(:back_to_home)}