.NetworksLink {
    background: rgba(0, 0, 0, 0) url("NetworkIcon.png") no-repeat scroll left center;
    padding-left: 30px !important;
}
.changePass{
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
.topMenu {
        float: left;
    }
.selectedFile{
	text-align:left!important;
}
.input-lg{
	font-size:16px!important;
}
    
.modal-body .searchButton {
    right: 0 !important;
}

.modal-header .btn-primary.pull-right {
    padding: 0 8px 5px;
}
 
.modal-header .form-group.row.form-inline {
    margin-bottom: 0;
}
