/*===== Header =====*/
#header {
    border-bottom: 2px solid #c1d72c !important;
}

    #header .navbar-inverse .nav li {
        display: block;
        padding-bottom: 0;
        float: none;
        border-bottom: 1px dotted;
    }

        #header .navbar-inverse .nav li:last-child {
            border-bottom: none;
        }

    #header .navbar {
        margin-bottom: 0;
    }

    #header .navbar-inverse .nav > li {
        margin-left: 0;
    }

    #header .nav.navbar-nav li ul {
        margin: 0;
        padding: 0;
    }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a,
.dropdown-menu > li:hover, .dropdown-menu > li:focus{
    background-color:#A9BF15!important;
    opacity:1!important;
    background-image:none!important;
}
.navbar-header {
    position: relative;
}

.searchbox.modal {
    background-color: transparent;
    box-shadow: none;
    left: 0 !important;
    top: 0 !important;
    width: auto !important;
    margin: 0 !important;
    overflow: hidden;
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.5 !important;
}

.searchbox .modal-dialog {
    margin-top: 15%;
}

.btn-search.globalSearchBtn {
    background-color: #f5f5f5;
    color: #151515;
    margin-top: -5px;
    padding: 8px 14px;
    -webkit-transition: color 300ms, background-color 300ms;
    -moz-transition: color 300ms, background-color 300ms;
    -o-transition: color 300ms, background-color 300ms;
    transition: color 300ms, background-color 300ms;
}

.btn-search {
    background-color: #151515;
    border: 1px solid #333;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    margin-top: 8px;
    padding: 6px 10px;
}

    .btn-search:hover {
        background-color: #333;
        border-color: #333;
        color: #fff;
    }

.mainMenu {
    border-left: 1px solid #2d2d2d;
    display: inline-block;
    padding-left: 20px;
    /*position: absolute;
    top: 10px;*/
    width: 130px;
}

    .mainMenu .navbar-toggle {
        float: left;
    }
.navbar-toggle {

    background-color: transparent!important;

    background-image: none!important;

    border: 1px solid !important;

    border-radius: 4px!important;

    float: right;

    margin-bottom: 8px!important;

    margin-right: 15px!important;

    margin-top: 8px!important;

    padding: 9px 10px!important;

    position: relative!important;
    

}
.navbar-toggle:hover,
.navbar-toggle:focus{
	background-color:#333!important;
}

button{
	box-shadow:none;
}
.menuText {
    color: #d7d7d7;
    display: inline-block;
    font-size: 18px;
    margin-top: 15px;
}

.menu-separator {
    border-left: 1px dotted rgba(255, 255, 255, 0.3);
    height: 20px;
    margin: 8px 15px 0 !important;
    width: 1px;
}

.navbar-collapse.navbar-left.collapsing,
.navbar-collapse.navbar-left.in {
    background-color: rgba(21, 21, 21, 0.8);
    position: absolute;
    z-index: 100;
}

.dropdown-menu {
    min-width: 180px !important;
}

    .dropdown-menu > li,
    .dropdown-menu > li > a {
        display: block !important;
    }


#header .nav.navbar-nav a,
.topMenu li a {
    color: #d7d7d7;
    border-radius: 3px;
    display: inline-block;
    line-height: 24px;
    margin: 0;
    padding: 8px 12px;
    padding-bottom: 8px !important;
    font-size: 16px;
    text-decoration: none !important;
}

.topMenu {
    margin: 0;
    padding: 0;
}

    .topMenu li {
        text-decoration: none !important;
        display: inline-block;
    }

    .topMenu .dropdown-menu {
        top: 90%;
        border-radius: 4px;
    }

/*==== Language Menu =====*/
.lang {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
    position: relative;
}

    .lang .fa.fa-globe {
        color: #d7d7d7;
        font-size: 18px;
    }


    /* Styling the select language list */
    .lang select {
        background-color: #101010;
        border: medium none;
        color: #d7d7d7;
        width: auto;
        padding-right: 15px;
    }

select {
    padding: 5px;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #333;
    color: #d7d7d7;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: auto;
    font-size: 14px;
}


/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {
        padding-right: 18px;
    }
}

.lang:after {
    color: white !important;
    content: '>';
    font: 11px "Consolas", monospace;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 8px;
    top: 6px;
    padding: 0 0 5px;
    border: none;
    position: absolute;
    pointer-events: none;
}

.lang:before {
    content: '';
    right: 6px;
    top: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    pointer-events: none;
    display: block;
}


/*==== Top Right Menu =====*/
.signIn .fa {
    font-size: 20px;
}

.NetworksLink {
    background: rgba(0, 0, 0, 0) url("NetworkIcon.png") no-repeat scroll left center;
    padding-left: 30px !important;
}

.DonateBtn {
    background-color: #c52d2f !important;
    border: 1px solid #e54d4f;
    color: #fff !important;
    height: 37px;
    padding: 6px 20px !important;
    text-decoration: none !important;
}

    .DonateBtn:hover {
        border: 1px solid #333;
        background-color: #333 !important;
        color: #fff !important;
        opacity: 1 !important;
        border-color: 6565;
    }
/*====== Global Styles ======*/
.separator {
    border-top: 1px solid #e7e7e7;
    height: 1px;
    width: 100%;
    margin: 50px 0;
}

body > form {
    margin: 0;
}

/*====== Banner ========*/
#main-slider {
    position: relative;
    margin-top: 0;
    z-index: 2;
}

    #main-slider .carousel {
        margin-bottom: 0;
    }

.GlobalSearch {
    position: absolute;
    z-index: 2;
    top: 40%;
}

    .GlobalSearch .slogan {
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
        color: white;
        font-weight: normal;
    }

.modal-body .searchButton {
    background-color:#c52d2f!important;
    color:#fff!important;
    opacity: 1!important;
    right: 1px!important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    -webkit-transition: color 300ms, background-color 300ms!important;
    -moz-transition: color 300ms, background-color 300ms!important;
    -o-transition: color 300ms, background-color 300ms!important;
    transition: color 300ms, background-color 300ms!important;
}
.modal-body .searchButton:hover{
    background-color: #e9e9e9!important;
    color:#333!important;
}
.searchbox .modal-title{
    text-align:center;
    font-size:22px;
}
.searchBox {
    position: relative;
}

    .searchBox .form-control {
        height: 45px;
    }

    .searchBox .searchButton {
        background-color: transparent;
        border: medium none;
        color: #333;
        font-size: 20px;
        opacity: 0.7;
        padding: 12px 14px;
        position: absolute;
        right: 1px;
        top: 1px;
        height: 43px;
        z-index: 10;
        border-radius: 5px;
        -webkit-transition: opacity 300ms, background-color 300ms;
        -moz-transition: opacity 300ms, background-color 300ms;
        -o-transition: opacity 300ms, background-color 300ms;
        transition: opacity 300ms, background-color 300ms;
    }

        .searchBox .searchButton:hover {
            opacity: 1;
            background-color: #f5f5f5;
        }

/*====== small Carousel ========*/

.smallCarousel {
    position: relative;
    z-index: 3;
}

.carousel_Thumbnails {
    background-color: white;
    box-shadow: 0 -115px 24px rgba(0, 0, 0, 0.25);
    padding: 30px 15px;
}

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.smallCarousel .carousel {
    margin-bottom: 0;
    padding: 0 40px 0;
}
/* Reposition the controls slightly */
.smallCarousel .carousel-control {
    left: -12px;
    font-size: 30px;
    margin-top: -10px;
}

    .smallCarousel .carousel-control.right {
        right: -12px;
    }
/* Changes the position of the indicators */
.smallCarousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0;
    margin-right: -19px;
}
    /* Changes the colour of the indicators */
    .smallCarousel .carousel-indicators li {
        background: #c0c0c0;
    }

    .smallCarousel .carousel-indicators .active {
        background: #333333;
    }

/*====== Homepage Statistics ========*/
.Home_statistics .feature-wrap {
    text-align: center;
}

    .Home_statistics .feature-wrap .number {
        font-size: 24px;
        margin: 10px 0 5px;
    }

    .Home_statistics .feature-wrap i {
        margin: 3px;
        float: none;
        background: #f5f5f5 none repeat scroll 0 0;
        border: 3px solid #f2f2f2;
        box-shadow: 0 0 0 2px #ffffff inset;
    }

#Home_Statistics h2 {
    margin-bottom: 5px;
}

/*====== Sponsers ======*/
#Sponsors {
    background: rgba(0, 0, 0, 0) url("partner_bg.png") no-repeat scroll 50% 50% / cover;
    padding: 70px 0;
    color: white;
    margin-top: 70px;
}

    #Sponsors h2, #Sponsors h3 {
        color: #fff;
    }

    #Sponsors .center h2 {
        text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.25);
    }

/*==== Donate ====*/

.Donation .Donate_Btn > a {
    background-color: #C52D2F;
    color: white !important;
    display: inline-block;
    font-size: 18px;
    padding: 10px 60px;
    text-decoration: none;
    border-radius: 5px;
}

.Donation .get-started {
    margin-bottom: 60px;
    margin-top: 50px;
}
.Donation .lead{
	font-size:16px;
}


ul.social-share li a{
	padding-top:6px!important;
}









/* Global */


img {
    max-width: 100%;
}

a {
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

    a:hover {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
        filter: alpha(opacity=50); /* IE7 */
        opacity: 0.6;
        text-decoration: none;
    }


/* Container */
.carouselContainer {
    background: #FFFFFF;
    margin: 40px auto;
    padding: 20px 40px 50px;
    max-width: 960px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}



/* Page Header */
.page-header {
    background: #f9f9f9;
    margin: -30px -40px 40px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
}

    .page-header h3 {
        line-height: 0.88rem;
        color: #000;
    }



/* Boxes
------------------------------------------------ */

/* List style */
ul.thumbnails {
    list-style: none;
    margin: 0;
    padding: 0;
}

.caption-box h4 {
    font-size: 0.94rem;
    color: #444;
}

.caption-box p {
    font-size: 0.75rem;
    color: #999;
}

.btn.btn-mini {
    font-size: 0.63rem;
}



/* Control box 
------------------------------------------------ */
.control-box {
    width: 100%;
}

.carousel-control {
    background: #666 !important;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px;
    margin: 30px -20px 0;
    height: 30px;
    width: 30px;
}



/* Mobile only
------------------------------------------------ */
@media (max-width: 767px) {
    .page-header {
        text-align: center;
    }
}

@media (max-width: 479px) {
    .caption-box {
        word-break: break-all;
    }

    ul.thumbnails li {
        margin-bottom: 30px;
    }
}
