.NetworksLink {
    background: rgba(0, 0, 0, 0) url("NetworkIcon.png") no-repeat scroll left center;
    padding-left: 30px !important;
}
.topMenu {
        float: left;
    }
.selectedFile{
	text-align:left!important;
}
.input-lg{
	font-size:16px!important;
}
